

body, html {
    font-family: 'Bebas Neue', sans-serif;
    background-color: white;
    color: black; 
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    padding: 0;
}

header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
}

main {
    flex: 1;
    padding: 1em;
}

footer {
    color: black;
    background-color: #007bff;
    text-align: center;
    padding: 40px;
    width: 100%;

}

/* logo */
.logo {
    font-size: 26px;
}

.logo a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: orange;
}

/* navigation bar */
nav{
    font-size: 20px;
}

nav a{
    color: black;
    text-decoration: none;

}

a:hover {
    color: #4C2FFF;
}

a:visited {
    color:black;
}

.left {
    float: left;
    color:black;
}

.left:hover {
    color:#4C2FFF;
}

.nav {
    padding-left: 3em;
    padding-top: 3.6em;
}

/* homepage catch */
.catch-container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.7em;
}

.small {
    transition: font-size 0.5s ease;

}

.small:hover {
    transform: scale(0.7);
}

.big {
    transition: font-size 0.5s ease;

}

.big:hover {
    transform: scale(1.3);
}


/*work page*/
#work {
    padding: 2%;
    display: inline-block;
    text-align: center;
}

.work-img {
    margin: auto;
    width: 45%;
    border-radius: 10%;
    padding: .5em;
    transition: transform 0.3s ease;
} 

.work-img:hover {
    transform: scale(1.05);
}

#catch {
    text-align: center;
    font-size:x-large;
}


/* contact form */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;

}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 20%;
}

input[type="submit"]:hover {
    background-color: #267AFF;
}